@model Product
@{
    ViewData["Title"] = "Create Product";
}

<h1>Create new product</h1>


<form method="post" asp-action="CreateProduct">

    <table class="table table-bordered">

        <tr>

            <td> <label asp-for="ProductName"></label>   </td>
            <td>
                <input asp-for="ProductName" class="form-control" placeholder="enter product name" />
            </td>

        </tr>

        <tr>

            <td><label asp-for="Category"></label></td>
            <td><select asp-for="CategoryId" asp-items="ViewBag.categories" class="form-control"></select></td>

        </tr>
        <tr>

            <td><label asp-for="ProductPrice"></label></td>
            <td><input asp-for="ProductPrice" placeholder="enter price" class="form-control"/></td>

        </tr>
        <tr>

            <td><label asp-for="ProductDescription"></label></td>
            <td><input asp-for="ProductDescription" placeholder="enter description" class="form-control" /></td>

        </tr>
        <tr>
            <td colspan="2">

                <input type="submit" value="create" class="btn btn-primary" />
                <a asp-action="AllProducts" asp-controller="Account">Cancel</a>

            </td>
        </tr>
    </table>



</form>

