@model NextwoIdentity.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>@Model.CategoryName</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
